* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #090E24;
  
    --white: #fff;
  
    --gray: #9C9D9F;
  
    --gray-light: #DDDDDD;
    --gray-soft: #F5F5F5;
  }


:focus {
    outline: 0;
}

main {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, textarea, button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}